<div class = "question">
<p><%= @question %></p>
<p>-You</p>
</div>

<div class = "answer">
<p><%= @answer %></p>
<p>-Your Coach</p>
</div>

<div class="link">
<%= link_to "Ask new Question", "/ask"%>
</div>
